<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao meu Blog! </h1>
    <p class="lead">
        Aqui escrevo minhas experiências de vida! 
    </p>
    <hr class="my-4">
    <p>
        Casamento, looks de loka, viajens, família, amor&sexo, maternidade, meu lado sombrio, etc..
    </p>
    <p>By Ana .</p>
    <a class="btn btn-primary btn-lg" style="background-color: #3f353f;" href="/usuarios/registro" role="button">Crie uma Conta</a>
</div>
<hr>
<h2>Posts</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <hr>
        <a href="/postagem/{{slug}}"><button class="btn btn-success" style="background-color: #857285;">Leia mais...</button></a>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de Pulblicação: {{data}}</small>

    </div>
</div>
{{else}}

<h5>Nenhum Post</h5>

{{/each}}